html{
    height:100%;
}
body{
    height:100%;
    margin:0px;
    font-family: 'Quicksand', sans-serif;

}
header{
    background: rgba(100, 100, 100, 1);
    height:40px
}

main{
    display: flex;
    flex-direction: column;
    position: absolute;
    height:100%;
    width:100%;
}

.inicio{
    height:100%;
    flex: 1 0 100%;
    height:100%;
    width:100%;
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    background: url(bg.jpg) no-repeat #00ffff;
     animation: apresentacao 2s ease-out; 
}

.inicio section{
    color: #FFFFFF;
    width: 200px;
    height: 40px;
    padding: 20px;
    background: rgba(100, 100, 100, 0.5);
    float: right;
}

.habilidades{
    color: #333333;
    flex: 1 0 auto;
    height: auto
}

.habilidades section{
    display: flex
}

.habilidades p{
    display: none
}

.habilidades section div{
    width: 100px;
    border:1px dashed #288c8c;
    color: #288c8c;
    margin-right: 10px
}

.habilidades section div .titulo{
    padding: 4px;
    display:block
}
.habilidades section div .nivel{
    padding: 4px;
    font-size:10px;
    display:block;
    color: #FFFFFF;
    background: #288c8c
}

article{
    flex: 1 0 100%;
    height:100%;
    padding: 20px
}

.experiencia{
    background: #104d91;
    color: #FFFFFF;
    flex: 1 0 auto;
    height: auto;
}



h1{
    margin:0px
}

footer{
    background:#CCFF00;
    flex: 0 0 60px;
}

/* Animates */
 @keyframes apresentacao{
    from {flex-grow:0; opacity: 0}
    to {flex-grow:1; opacity: 1}
} 